@model IEnumerable<MeowPlanet.ViewModels.LikeAdopts>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link href="~/lib/bootstrap/dist/css/animista.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

@{
    string status = "";
    string date = "";

}


@foreach (var item in Model)
{
    <div class="row clue-item p-3 me-3">
        <div class="col-3">
            <img src="@Url.Content(@item.CatImg1)">
        </div>
        <div class="col-5 detail">
            <p>@item.CatName</p>
            <p>
                @item.BreedName
                @if (@item.CatSex == false)
                {
                    <i class="fa-solid fa-venus" style="color:#FF8EFF;font-size:1.3rem"></i>
                }
                else if (@item.CatSex == true)
                {
                    <i class="fa-solid fa-mars" style="color:#99b8d4;font-size:1.3rem"></i>
                }
            </p>
            <p>@item.CatAge 歲</p>

            <p>
                @if (@item.DateOver == null)
                {
                    date = "申請日期:" + @item.DateStart.ToShortDateString();
                }
                else
                {
                    date = "結束日期:" + @item.DateOver.Value.ToShortDateString();
                }
                @date
            </p>
            <p>
                狀態:
                @if (@item.Status == 0)
                {
                    status = "等待中";
                }
                else if (@item.Status == 1)
                {
                    status = "已拒絕";
                }
                else
                {
                    status = "已同意";
                }
                @status
            </p>
        </div>

    </div>


}

